<!DOCTYPE HTML>

<html>
<body>


<div class="color" style="background: #6170ac">aa</div><!-- lysest blaa -->
<div class="color" style="background: #424d94">aa</div><!-- lys blaa -->
<div class="color" style="background: #31366e">aa</div><!-- moerk blaa -->
<div class="color" style="background: #2e3144">aa</div><!-- moerkest blaa -->
<div class="color" style="background: #72c2b5">turkis</div>
<div class="color" style="background: #eb6b30">orange</div>


<div class="color" style="background: #EA661E">orange #EA661E</div>
<div class="color" style="background: #1C203A">Moerkest blaa #1C203A</div>
<div class="color" style="background: #202869">Moerk blaa #202869</div>
<div class="color" style="background: #374492">Lys blaa #374492</div>
<div class="color" style="background: #5C6CAA">Lysest blaa #5C6CAA</div>
<div class="color" style="background: #6DC0B4">turkis #6DC0B4</div>
</body>
</html>
