<!-- GRANT ADMIN -->
<!DOCTYPE HTML>
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <head>
    <script type="text/javascript" src="../../js/c/figure.js"></script>
    <!-- Bootstrap -->
    <link href="../../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../styles/yubio_responsive.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/yubio.css" />
    <script type="text/javascript" src="./lib/jquery-latest.min.js"></script>

    <meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1">
    
    
    
    <script type="text/javascript" >
      $(document).ready(function () {
      });
    </script>
  </head>
  <body style="">
    <table style="width: 100%">
      <tr>
	<td style="width: 70px">
	  <a href="javascript:history.back()" class="linkbox linkbox_small up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)"  style="background-image: url('images/icons/yubio_back_icon.svg');">
	  </a>
	</td>
	<td align="right" style="padding-right: 20px">
	  <a href="index_tiles.html" class="linkbox linkbox_small up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)"  style="background-image: url('images/yubio_logo_pure.svg');">
	  </a>
	</td>
      </tr>
    </table>

    
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="text-align: center">
        <img src="figures/chapter_!!chapter!/!!figure!" style="background: #ffffff;"/>
      </div>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
    
    
  </body>
</html>
