<!-- GRANT ALL -->
<!DOCTYPE HTML>
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <head>
    <link href="../../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="../../styles/yubio.css" />

    <script type="text/javascript" src="../../js/tiles.js"></script>
    <script type="text/javascript" src="../../js/sounds_selector.js"></script>

    <script type="text/javascript" src="../../lib/jquery-latest.min.js"></script>
    <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0">

    <script type="text/javascript" >
      $(document).ready(function () {
        initializePage("!!chapter!".match(/(\d+)\.?(\d+)?\.?(\d+)?/), "!!topic!", "/c");
      });      
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
	<div class="col-md-12" style="text-align: center">

	  <span id="mainBack"></span>
	  <span id="mainTopic"></span>
	  <span id="mainYubio"></span>
	</div>
      </div>
      <div class="row" style="text-align: center">
	<div class="col-md-12" id="buttonContainer">
	</div>
      </div>
    </div>

    <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
