<!DOCTYPE HTML>
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <head>
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
      canvas {
        //border: 1px solid #9C9898;
      }
    </style>

    <script src="../js/kinetic-v3.9.3.js"></script>
    <script src="../js/tiles_game_data.js"></script>
    <script src="../js/tiles_game_drag.js"></script>
  </head>
  <body style="background: #2e3144">
    <!-- div id="container_container" style="text-align: center; width: 100%; height: 100%" -->
      <div id="container" style="margin: 50px auto; width: 800px"></div>
    <!-- /div -->
  </body>
</html>
