<!DOCTYPE HTML>
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <head>

    <link rel="stylesheet" type="text/css" href="../../lib/jquery.mobile.custom/jquery.mobile.custom.min.css" media="screen" />
    <link href="../../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    
    <script type="text/javascript" src="../../js/tiles.js"></script>

    <script type="text/javascript">
      var overrideResizable = true; //override resizable function of jQuery UI (if used) to resize in all directions
    </script>
    <script type="text/javascript" src="../../lib//jquery-latest.min.js"></script>

    <script type="text/javascript" src="../../lib/jquery.mobile.custom/jquery.mobile.custom.min.js"></script>    
    <script type="text/javascript" src="../../lib/jquery-lightbox-0.5/js/jquery.lightbox-0.5.min.js"></script>
    
    <script type="text/javascript" src="../../js/c/figures.js" ></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="../../styles/yubio.css" />

  </head>
  <body style="">
    <table style="width: 100%">
      <tr>
	<td style="width: 70px">
	  <a href="javascript:history.back()" class="linkbox linkbox_small up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)"  style="background-image: url('images/icons/yubio_back_icon.svg');">
	  </a>
	</td>
	<td>
	  <a href="yubio_info.html" class="linkbox linkbox_small up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)"  style="background-image: url('images/yubio_logo_pure.svg');">
	  </a>
	</td>
	<td align="right" style="padding-right: 20px">
	  <a href="index_tiles.html" class="linkbox linkbox_small up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)"  style="background-image: url('images/yubio_logo_pure.svg');">
	  </a>
	</td>
      </tr>
    </table>


    <div class="container">
      <div class="row">
	<div class="col-md-12" id="column1">
	  TOM SIDE
	</div>
      </div>
    </div>
    
    <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
