<!DOCTYPE HTML>
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <head>
    <title>Interaktiv ebog i biologi</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" href="images/yubio-64.png" />
    <link rel="apple-touch-icon-precomposed" href="images/yubio-64.png" />


    <link href="../../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../lib/jquery-latest.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../styles/yubio.css" />

    <script type="text/javascript" src="../../js/tiles.js"></script>

    <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=4.0">

    <script type="text/javascript" >
      $(document).ready(function () {
      var backButton = imgButton("mainBack", "javascript:history.back()", 'images/icons/yubio_back_icon.svg');
      var mainTopic = imgButton("mainYubio", "index.html", 'images/yubio_logo_pure.svg');

//        initTilesGame("!!chapters!");
      });
    </script>

  </head>
  <body>

    <div class="container" style="height: 100%">
      <div class="row">
	<div class="col-md-12" id="column1" style="text-align: center">
	  <div id="logo_container">
	    <span id="mainBack"></span>
	    <span id="mainYubio"></span>
	  </div>

	</div>
      </div>

      <div class="row">
	<div class="col-md-12" id="footer" style="padding-top: 40px; text-align: left">
	  <h3>Gymnasier</h3>
	  Paderup Gymnasium<br />
	  Fjerritslev Gymnasium<br />
	  Randers Statsskole<br />
	  Stenhus Gymnasium<br />
	  Silkeborg Gymnasium<br />
	  Aalborghus Gymnasium<br />
	  Marselisborg Gymnasium<br />
	  Nykøbing Katedralskole<br />
	  Tornbjerg Gymnasium<br />
	  Faaborg Gymnasium<br />
	  Kongsholm Gymnasium<br />
	  Favrskov Gymnasium<br />
	  Slagelse Gymnasium<br />
	  Borupgaard Gymnasium<br />
	  Aalborg Studenterkursus<br />
	  Frederiksborg Gymnasium<br />
	  Birkerød Gymnasium<br />
	  Åbenrå Statsskole<br />
	  Øregård Gymnasium<br />
	  Teknisk Gymnasium Silkeborg<br />
	  Vordingborg Gymnasium<br />
	  Horsens Gymnasium<br />
	  Vesthimmerlands Gymnasium<br />
	  Virum Gymnasium<br />
	  Middelfart Gymnasium<br />
	  Ørestad Gymnasium<br />
	  Allerød Gymnasium<br />
	  Nordfyns Gymnasium<br />
	  Nørre Gymnasium<br />
	  Nørresundby Gymnasium & HF<br />	  
	  Rysensteen Gymnasium<br />
	  Th. Langs HF & VUC<br />
	  Gammel Hellerup Gymnasium<br />

	  <h3>Seminarier</h3>
	  Læreruddannelsen Bornholm<br />
	  Læreruddannelsen Aalborg<br />
	  Læreruddannelsen Zahle<br />
	  Læreruddannelsen Aarhus<br />
	  Læreruddannelsen Vordingborg<br />
	  Læreruddannelsen og HF i Nørre Nissum<br />
	  Læreruddannelsen på Fyn<br />
	  Læreruddannelsen Lillebælt<br />
	  Læreruddannelsen Roskilde<br />
	  <br />
	</div>
      </div>      
    </div>


  </body>
</html>
