<!-- GRANT ALL -->
<!DOCTYPE HTML>
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <head>
    <link href="../../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
   
    <link rel="stylesheet" type="text/css" href="../../styles/yubio.css" />

    <script type="text/javascript" src="../../js/tiles.js"></script>

    <script type="text/javascript">
      var overrideResizable = true; //override resizable function of jQuery UI (if used) to resize in all directions
    </script>

    <script type="text/javascript" src="../../lib/jquery-latest.min.js"></script>

    <script type="text/javascript" src="../../js/tiles_game_selector.js" ></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">


    <script type="text/javascript" >
      $(document).ready(function () {
        initializeTOC("!!chapter!".match(/(\d+)\.?(\d+)?\.?(\d+)?/), "!!topic!", "/idc");
      });

    </script>
  </head>
  <body>

    <div class="container">
      <div class="row" style="text-align:center">
	<div class="col-md-12">	  

	  <span id="mainBack"></span>
	  <span id="mainTopic"></span>
	  <span id="mainUFPhysiology"></span>
	  <span id="mainUFBiochemistry"></span>
	  <span id="mainUFGenetics"></span>
	  <span id="mainUFEcology"></span>
	  <span id="mainUF"></span>
	  <span id="mainYubio"></span>
	  
	</div>
      </div>
      <div class="row" style="text-align:center">
	<div class="col-md-12" id="column1">
	</div>

      <!-- div class="col-md-4" id="column2">
      </div>

      <div class="col-md-4" id="column3" -->
      </div>
    </div>

    <!-- div id="container" style="margin: 10px auto; width: 100%;">
      <table style="margin-left: auto; margin-right: auto; width: 90%">
	<tr>
	  <td id="column1" style="color: #ffffff; vertical-align: top; padding-right: 20px">
	  </td>
	  <td id="column2" style="color: #ffffff; vertical-align: top; padding-left: 20px">
	  </td>
	  <td id="column3" style="color: #ffffff; vertical-align: top; padding-left: 20px">
	  </td>
	</tr>
      </table>
    </div -->
    <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
