<!DOCTYPE HTML>
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link href="../../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../lib/jquery-latest.min.js"></script>

    <script type="text/javascript" src="../../js/tiles.js"></script>
    <link rel="stylesheet" type="text/css" href="../../styles/yubio.css" />
    <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0">

    <link rel="apple-touch-icon" href="../images/yubio-64.png" />
    <link rel="apple-touch-icon-precomposed" href="../images/yubio-64.png" />
  </head>
  <body style="text-align: center">
    <div class="container hidden-sm hidden-xs">
      <br />
      <br />

      <div class="row">
	<div class="col-md-12" style="padding-top: 2em">
	  <span style="margin-right: 75px; margin-left: 75px">&nbsp;</span>
	  <a href="" class="linkbox up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)"  style="background-image: url('../images/yubio_logo_pure.svg'); background-color: #1C203A" data-ajax="false">
	  </a>
	  <a href="pdfs/Help.pdf" class="linkbox up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)" style="background-image: url('../images/help.svg'); background-color: #1C203A" data-ajax="false">
	  </a>
	  <span style="margin-right: 75px; margin-left: 75px">&nbsp;</span>
	<!-- /div>
	<div class="col-md-2" -->
	</div>
      </div>
      <div class="row">
	<div class="col-md-12">
	  <a href="tiles_game_selector.html?topic=fit" class="linkbox up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)" style="background-image: url('../images/icons/yubio_fit_icon.svg'); background-color: #1C203A" data-ajax="false">
	  </a>
	<!--/div>
	<div class="col-md-2"-->
	  <a href="exercise_manuals_selector.html" class="linkbox up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)" style="background-image: url('../images/icons/yubio_em_icon.svg'); background-color: #31366e" data-ajax="false">
	  </a>

	  <a href="multiple_choice_selector.html?topic=multiple_choice" class="linkbox up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)" style="background-image: url('../images/icons/yubio_multiple_choice_icon.svg'); background-color: #6dc0b4" data-ajax="false">
	  </a>
	      
	</div>
      </div>

      <div class="row">
	<div class="col-md-12">
	  <a href="sounds_selector.html" class="linkbox up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)" style="background-image: url('../images/icons/yubio_sound_icon.svg'); background-color: #ea661e" data-ajax="false">
	  </a>
	  <a href="links_selector.html?topic=links" class="linkbox up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)" style="background-image: url('../images/icons/yubio_links_icon.svg'); background-color: #5c6caa" data-ajax="false">
	    </a>
	  <a href="figgame_selector.html" class="linkbox up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)" style="background-image: url('../images/icons/yubio_figgame_icon.svg'); background-color: #1C203A" data-ajax="false">
	  </a>
	</div>
      </div>
    </div>


    <div class="container hidden-md hidden-lg">
      <div class="row">
	<div class="col-md-12">
	  <a href="" class="linkbox up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)"  style="background-image: url('../images/yubio_logo_pure.svg'); background-color: #1C203A" data-ajax="false">
	  </a>
	  <a href="tiles_game_selector.html?topic=fit" class="linkbox up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)" style="background-image: url('../images/icons/yubio_fit_icon.svg'); background-color: #1C203A" data-ajax="false">
	  </a>
	  <a href="exercise_manuals_selector.html" class="linkbox up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)" style="background-image: url('../images/icons/yubio_em_icon.svg'); background-color: #31366e" data-ajax="false">
	  </a>
	  <a href="multiple_choice_selector.html?topic=multiple_choice" class="linkbox up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)" style="background-image: url('../images/icons/yubio_multiple_choice_icon.svg'); background-color: #6dc0b4" data-ajax="false">
	  </a>
	  <a href="sounds_selector.html" class="linkbox up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)" style="background-image: url('../images/icons/yubio_sound_icon.svg'); background-color: #ea661e" data-ajax="false">
	  </a>
	  <a href="links_selector.html" class="linkbox up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)" style="background-image: url('../images/icons/yubio_links_icon.svg'); background-color: #5c6caa" data-ajax="false">
	    </a>
	  <a href="animations_selector.html" class="linkbox up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)"  style="background-image: url('../images/icons/yubio_video_icon.svg'); background-color: #374492" data-ajax="false">
	  </a>
	  <a href="figgame_selector.html" class="linkbox up" onmousedown="tileDown(event, this)" onmouseup="tileUp(this)" ontouchstart="tileDown(event, this)" ontouchend="tileUp(this)" style="background-image: url('../images/icons/yubio_figgame_icon.svg'); background-color: #1C203A" data-ajax="false">
	  </a>
	</div>
      </div>
    </div>

  </body>
</html>
