<!DOCTYPE HTML>
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <head>
    <link href="../../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../lib/jquery-latest.min.js"></script>

    <script type="text/javascript" src="../../js/tiles.js"></script>
    <script type="text/javascript" src="../../js/multiple_choice.js"></script>

    <link rel="stylesheet" type="text/css" href="../../styles/yubio.css" />

    <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0">

    <script type="text/javascript" >
      $(document).ready(function () {
        initMCGame("!!chapters!", "!!topic!", "/b");
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row" style="text-align:center">
	<div class="col-md-12">	  

	  <span id="mainBack"></span>
	  <span id="mainTopic"></span>
	  <span id="mainYubio"></span>
	</div>
      </div>
      <div class="row" style="text-align:center; margin-top: 30px">
	<div class="col-md-12">	  
	  <span id="chapter_header" style="font-size: 30pt"></span>
	</div>
      </div>
      <div class="row" style="text-align: center">
	<div class="col-md-12" id="column1">

	  <form action="questionnaire.html" method="post" id="mcForm">
	    <br />
	    <fieldset>
	      <legend>Spiltype</legend>
	      <input type="radio" id="practiceMode" name="mode" value="practice" checked /><label class="button" for="practiceMode">Træning</label>
	      <input type="radio" id="battleMode" name="mode" value="battle" /><label class="button" for="battleMode">Kamp</label>
	    </fieldset>
	    <br />
	    <fieldset id="subchapters">
	      <legend>Delkapitler</legend>
	    </fieldset>
	    <br />
	    <fieldset id="questionCount">
	      <legend>Antal spørgsmål</legend>
	      <input type="number" name="count" id="count" min="1" max="25" value="10"></input>
	    </fieldset>	    
	    <br />
	    <fieldset id="participants">
	      <legend>Antal deltagere</legend>
	      <input type="radio" id="singlePlayer" name="players" value="single" checked /><label class="button" for="singlePlayer">En deltager</label>
	      <input type="radio" id="multiPlayer" name="players" value="multiple" /><label class="button" for="multiPlayer">Flere deltagere</label><br />
	    
	      <div id="emailInvitation">
		<div style="margin-top: 20px">
		  <a class="yubioBtn" style="height: 3em" id="mailInvitation" href="">Opret email invitation</a>
		</div>
		<div id="directLink">
		</div>
	      </div>
	    </fieldset>

	    <br />

	    <fieldset id="levelSet">
	      <legend>Niveau</legend>
	      <input type="radio" id="level1" name="level" value="1" checked/><label class="button" for="level1">Niveau 1</label>
	      <input type="radio" id="level2" name="level" value="2" /><label class="button" for="level2">Niveau 2</label>	     
	    </fieldset>


	    <br />
	    <div id="singlePlayerOptions">
              <input id="startButton" type="submit" value="Start"/>
              <input id="highScoreButton" type="submit" value="Highscores"/>
	    </div>

	    <br />

	    <input type="hidden" name="stopwatch" value="true" />
	    <input type="hidden" name="topic" value="!!topic!" />
	    <input type="hidden" name="chapters" value="!!chapters!" />
	    <input type="hidden" id="headerText" name="headerText" />
	  
	  </form>
	</div>
      </div>
    </div>
  </body>
</html>
