<!DOCTYPE HTML>
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <head>
    <link href="../../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../lib/jquery-latest.min.js"></script>

    <script type="text/javascript" src="../../js/tiles.js"></script>
    <script type="text/javascript" src="../../js/multiple_choice.js"></script>

    <link rel="stylesheet" type="text/css" href="../../styles/yubio.css" />

    <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0">

  <script type="text/javascript" >
   function handleClick(myRadio) {
		
		};
	    (function($) {
        $(document).ready(function () {

			var id = "!!id!";
			if( id == "undefined")
			{
				var numberOfQuestions = "!!count!";
        var chapter ="!!subchapter!";
        var questions ="!!question_id!";
		var name ="!!quiz_id!";
        if( name == "undefined" || name == "")
        {
          alert("Testen skal indeholde et navn");
          return;
        }
				var desc = "!!description_id!";
        var timer = "!!timer_id!";
        var highScore = "!!high_score!" == "on";
        var timeout = isNaN(timer) ? 0 :parseInt(timer); 
        var hideTimer ="!!hideTimer!" == "on";
        if( questions == "undefined")
        {
          addQuiz("b", name, desc, chapter, numberOfQuestions,timeout,highScore,hideTimer, function(link)
          {
            var linkContainer = $('#linkContainer');
            var resultContainer = $('#resultContainer');
            quizLink = "http://yubio.dk/b/questionnaire_quiz.html?id=" + link;
            resultLink = quizLink + "&showHighScore=true";
            var linkText = "<a href=http://yubio.dk/b/questionnaire_quiz.html?id="+link+">Link til test for den/dem, der skal deltage (fx elever)</p>";
              linkContainer.html(linkText);
              resultContainer.html("<a href="+resultLink+">Link til resultater for den/dem, der skal kunne se resultaterne (fx en lærer)</p>");
          })
       }
       else
       {
        addQuizByQuestions("b", name, desc, questions, 0,timeout,highScore,hideTimer, function(link)
          {
            //&showHighScore=true
            var linkContainer = $('#linkContainer');
            var resultContainer = $('#resultContainer');
            quizLink = "http://yubio.dk/b/questionnaire_quiz.html?id="+link;
            resultLink = quizLink+"&showHighScore=true";
            var linkText = "<a id='linkid' href=http://yubio.dk/b/questionnaire_quiz.html?id="+link+">Link til test for den/dem, der skal deltage (fx elever)</p>";
              linkContainer.html(linkText);
              resultContainer.html("<a href="+resultLink+">Link til resultater for den/dem, der skal kunne se resultaterne (fx en lærer)</p>");
          })
       }

			}
			else{
				loadQuiz("b",id,function(quiz)
				{

				})
			}
		
        });
      })(jQuery)
      
      
      $(document).ready(function () {
      });
      var CopyToClipBoard = function(str)
      {
        const el = document.createElement('textarea');
  el.value = str;
  el.setAttribute('readonly', '');
  el.style.position = 'absolute';
  el.style.left = '-9999px';
  document.body.appendChild(el);
  el.focus();
  el.select();
  var success = document.execCommand('copy');
  document.body.removeChild(el);
      }
      var CopyLink = function()
      {
        CopyToClipBoard( quizLink);
      }
      var CopyResultLink = function()
      {
        CopyToClipBoard( resultLink);
      }
      var quizLink;
      var resultLink;
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row" style="text-align:center">
	<div class="col-md-12">	  

	  <span id="mainBack"></span>
	  <span id="mainTopic"></span>
	  <span id="mainYubio"></span>
	</div>
      </div>
      <div class="row" style="text-align:center; margin-top: 30px">
	<div class="col-md-12">	  
	  <span id="chapter_header" style="font-size: 30pt"></span>
	</div>
      </div>
      <div class="row" style="text-align: center">
      <div class="col-md-12" id="altColumn">
       <div class="row" style="text-align:center; margin-top: 30px">
		<span id="info" style="font-size: 30pt">Testen kan findes på nedenstående link</span>
		<div class="row" style="text-align:center; margin-top: 20px" id="resultContainer">

    </div>
    <div>
      <input type="checkbox" id="copyTeacherLink" name="quizmode" onclick="CopyResultLink();" checked />
      <label class="button" for="copyTeacherLink">Kopier link</label>
      <!-- <button class="yubioBtn" onclick="CopyLink()">Kopier link</button> -->
    </div>
      </div>
<br/>
<br/>
      <div class="row" style="text-align:center; margin-top: 20px" id="linkContainer">

      </div>
      <div>
        <!-- <button class="yubioBtn" onclick="CopyResultLink()">Kopier link</button> -->
        <input type="checkbox" id="copyStudentLink" name="quizmode" onclick="CopyLink();" checked />
      <label class="button" for="copyStudentLink">Kopier link</label>
      </div>
        </div>
  
  </body>
</html>

