<!DOCTYPE html>
<html>
  <head>
    <title>Fullscreen SVG</title>

    <style>
      html,body {
        margin: 0px; padding: 0px;
        width: 100%; height: 100%;    
      }

      .fullscreen {
        display: block;
        width: 100%; height: 100%;
      }
    </style>
  </head>
  <body>
    <svg class="fullscreen">
      <image x="10" y="20" width="80" height="80" xlink:href="images/yubio_logo_pure.svg" />
      <image x="100" y="20" width="80" height="80" xlink:href="images/icons/yubio_video_icon.svg" />
      <image x="190" y="20" width="80" height="80" xlink:href="images/icons/yubio_sound_icon.svg" />
      <image x="10" y="110" width="80" height="80" xlink:href="images/icons/yubio_back_icon.svg" />
      <image x="100" y="110" width="80" height="80" xlink:href="images/icons/yubio_podcast_icon.svg" />
      <image x="190" y="110" width="80" height="80" xlink:href="images/icons/yubio_docs_icon.svg" />
      <image x="10" y="200" width="80" height="80" xlink:href="images/icons/yubio_fit_icon.svg" />
      <image x="100" y="200" width="80" height="80" xlink:href="images/icons/yubio_multiple_choice_icon.svg" />
      <image x="190" y="200" width="80" height="80" xlink:href="images/icons/yubio_links_icon.svg" />




    </svg>
  </body>
</html>
