<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Yubio - Interaktiv ebog i biologi</title>
<!-- Bootstrap -->
<link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<!--link rel="stylesheet" media="all and (orientation:portrait)" href="../styles/yubio_portrait.css" /> 
    <link rel="stylesheet" media="all and (orientation:landscape)" href="../styles/yubio_landscape.css" / -->
<link rel="stylesheet" type="text/css"
  href="../styles/yubio_responsive.css" />
<link rel="stylesheet" type="text/css" href="../styles/yubio.css" />
<!--  script type="text/javascript" src="../js/tiles.js"></script> -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<meta name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1">
</head>
<body>

<script type="text/javascript">
$(document).ready(function() {
  });

</script>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 style="color: white; width: 276px; display: block; margin: 40px auto 0px auto">F&aring; en lille forsmag her:</h4>
        <div style="width: 275px; margin: 10px auto 0px auto">
          <a href="http://www.magus.dk/yubio/reklame_yubio.pdf">
            <img alt="Yubio reklame"
              src="images/reklame_yubio_thumbnail.png"
              style="border-color: white; border-style: solid; border-width: 1px; display: block; height: 400px; width: 275px"/>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center; color: white; font-family: sans-serif">
          Udkommer til efter&aring;ret 2013<br />
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div style="color: white; width: 276px; display: block; margin: 40px auto 0px auto">
          <h4>For mere information, kontakt:</h4>
          Thomas Sand Skadhede<br />
          Email: <a href="mailto:kontakt.yubio@gmail.com">kontakt.yubio@gmail.com</a><br />
          Telefon: 30 25 23 00
        </div>
      </div>
    </div>    
  </div>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

