<!DOCTYPE HTML>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<head>
    <title>Interaktiv ebog i biologi</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" href="images/yubio-64.png" />
    <link rel="apple-touch-icon-precomposed" href="images/yubio-64.png" />


    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../lib/jquery-latest.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../styles/yubio.css" />

    <script type="text/javascript" src="../js/tiles.js"></script>

    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=4.0">

    <script type="text/javascript">
        $(document).ready(function () {
      var backButton = imgButton("mainBack", "javascript:history.back()", 'images/icons/yubio_back_icon.svg');
      var mainTopic = imgButton("mainYubio", "index.html", 'images/yubio_logo_pure.svg');

//        initTilesGame("!!chapters!");
      });
    </script>

</head>

<body>

    <div class="container" style="height: 100%">
        <div class="row">
            <div class="col-md-12" id="column1" style="text-align: center">
                <div id="logo_container">
                    <span id="mainBack"></span>
                    <span id="mainYubio"></span>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4" style="padding-top: 40px; text-align: left">
                <h3>Gymnasier</h3>
                Aarhus HF & VUC
                <br /> Aalborghus Gymnasium
                <br /> Aarhus Handelsgymnasium
		<br /> Akademisk Studenterkursus
                <br /> Allerød Gymnasium
                <br /> Birkerød Gymnasium
                <br /> Bjerringbro Gymnasium
                <br /> Borupgaard Gymnasium
                <br /> Brøndby Gymnasie
		<br /> Christianshavns Gymnasium
				<br /> CPH West
                <br /> Det Fri Gymnasium
                <br /> EUC Lillebælt
                <br /> Faaborg Gymnasium
                <br /> Favrskov Gymnasium
                <br /> Fjerritslev Gymnasium
                <br /> Frederiksborg Gymnasium & HF
                <br /> Frederikshavn Gymnasium
                <br /> Frederikssund Gymnasium
                <br /> Frederiksberg HF
                <br /> Gammel Hellerup Gymnasium
                <br /> Gefion Gymnasium
		<br /> Gentofte HF
                <br /> Grenaa Gymnasium
                <br /> Greve Gymnasium
                <br /> GUX - Sisimiut
                <br /> H. C. Ørsted Gymnasium
		<br /> Haderslev Katedralskole
				<br /> Herlev Gymnasium & HF
                <br /> Herlufsholm
                <br /> Herning Gymnasium
                <br /> HF & VUC Fyn
                <br /> HF & VUC Kbh. Syd
                <br /> Horsens HF & VUC
                <br /> Kold College
                <br /> Kolding HF & VUC
                <br /> Kolding Gymnasium
                <br /> Københavns åbne Gymnasium
                <br /> Køge Gymnasium
                <br /> Langkær Gymnasium & HF
                <br /> Lemvig Gymnasium
		<br /> Maribo Gymnasium
                <br /> Marselisborg Gymnasium
                <br /> Middelfart Gymnasium & HF
		<br /> Midtsjællands Gymnasium
                <br /> Mulernes Legatskole
                <br /> Munkelsdam Gymnasium
		<br /> N. Zahles Skole
		<br /> Nordfyns Gymnasium
                <br /> Nordsjællands HF & VUC
                <br /> Nørre Gymnasium
                <br /> Nørresundby Gymnasium & HF
                <br /> Nykøbing Katedralskole
                <br /> Odsherreds Gymnasium
                <br /> Paderup Gymnasium
                <br /> Randers Statsskole
                <br /> Ribe Katedralskole
                <br /> Rybners
                <br /> Rødkilde Gymnasium
                <br /> Rødovre Gymnasium
                <br /> Rønde Gymnasium
                <br /> Sankt Annæ Gymnasium
                <br /> SCU
                <br /> Silkeborg Gymnasium
                <br /> Skive Tekniske Skole
                <br /> Slagelse Gymnasium
                <br /> Sorø Akademis Skole
                <br /> Sydkystens Gymnasium / CPH West
                <br /> TEC, Kbh.
                <br /> Teknisk Gymnasium Silkeborg
		<br /> Thy-Mors HF & VUC
                <br /> Tornbjerg Gymnasium
                <br /> Tønder Gymnasium
                <br /> Tårnby Gymnasium
                <br /> Varde Gymnasium
                <br /> Vestegnen HF & VUC
                <br /> Vesthimmerlandsk Gymnasium & HF
                <br /> Viby Gymnasium
                <br /> Viborg Gymnasium & HF
                <br /> Vordingborg Gymnasium
                <br /> VUC Aarhus
                <br /> VUC & HF Nordjylland
                <br /> Øregård Gymnasium
                <br /> Ørestad Gymnasium
		<br /> Århus Business College
                <br /> Århus Statsgymnasium
                <br />
            </div>
            <div class="col-md-4" style="padding-top: 40px; text-align: left">
                <h3>Seminarier</h3> 
                Blaagaard Seminarium
                <br /> Læreruddannelsen Bornholm
                <br /> Læreruddannelsen Lillebælt
                <br /> Læreruddannelsen og HF i Nørre Nissum
                <br /> Læreruddannelsen på Fyn
                <br /> Læreruddannelsen Roskilde
                <br /> Læreruddannelsen Vordingborg
                <br /> Læreruddannelsen Zahle
                <br /> Læreruddannelsen Aalborg
                <br /> Læreruddannelsen Aarhus
                <br />

            </div>
            <div class="col-md-4" style="padding-top: 40px; text-align: left">
                <h3>Andre</h3> 
                Hasnæs Kommune
                <br /> Hotel- og Restaurantskolen
                <br /> Stevns Kommune
                <br />

                <br />
            </div>
        </div>
    </div>


</body>

</html>
